@model GTravel.Domain.Tour

@{
    var title = "Details: " + Model.Name;
    var meal = Model.Meal;
}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Tour">Tours</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<div class="backgroundWhite container mt-4">
    <div class=" row col-12 ">
        <h3>@title</h3>
        <div class="row col-12 mt-4">
            <dl class="row col-8">
                <dt class="col-sm-4">Name: </dt>
                <dd class="col-sm-5">@Model.Name</dd>

                <dt class="col-sm-4">Duration(days): </dt>
                <dd class="col-sm-5">@Model.TourDurationDays</dd>

                <dt class="col-sm-4">Departure Location: </dt>
                <dd class="col-sm-5">@Model.DepartureLocation</dd>

                <dt class="col-sm-4 text-truncate">Accomodation(nights): </dt>
                <dd class="col-sm-5">@Model.AccommodationNumberOfNights</dd>

                <dt class="col-sm-4">Max Capacity: </dt>
                <dd class="col-sm-5">@Model.MaxCapacity</dd>

                <dt class="col-sm-4">Recommended Retail Price: </dt>
                <dd class="col-sm-5">@Model.RRP</dd>
            </dl>
            <div class="col-4">
                <img src="@Model.ImageUrl" class="img-fluid" />
            </div>
        </div>
        <div class="row col-12">
            <dl class="row col-11">
                <dt class="col-sm-3">Tour Introduction</dt>
                <dd class="col-sm-9">
                    <p>@Html.Raw(Model.BriefDescription)</p>
                </dd>

                <dt class="col-sm-3">Full Description</dt>
                <dd class="col-sm-9">
                    <p>@Html.Raw(Model.FullDescription)</p>
                </dd>
            </dl>
        </div>



        @if (Model.TourCities != null)
        {
            <hr style="width:100%; text-align:left;margin-left:0; ">
            <div class="row col-12">
                <div class="row col-12 my-2">
                    <h4><strong>Cities</strong></h4>
                </div>

                <ul>
                    @foreach (var city in Model.TourCities)
                    {
                        <li>@city.City.Name  @city.City.State</li>
                        if (city.TourAttractions.Count > 0)
                        {
                            <li>
                                <ul>
                                    @foreach (var attraction in city.TourAttractions)
                                    {
                                    <li>@attraction.Attraction.Name </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        @if (meal != null)
        {
            <hr style="width:100%; text-align:left;margin-left:0; ">
            <div class="row col-12">

                <div class="row col-12 my-2">

                    <h4><strong>Meals</strong></h4>
                </div>
                <dl class="row col-8">
                    @if (meal.Breakfast != 0)
                    {
                        <dt class="col-sm-4">Breakfast: </dt>
                        <dd class="col-sm-5">@meal.Breakfast</dd>
                    }
                    @if (meal.Lunch != 0)
                    {
                        <dt class="col-sm-4">Lunch: </dt>
                        <dd class="col-sm-5">@meal.Lunch</dd>
                    }
                    @if (meal.Dinner != 0)
                    {

                        <dt class="col-sm-4">Dinner: </dt>
                        <dd class="col-sm-5">@meal.Dinner</dd>
                    }
                </dl>
            </div>
        }
    </div>

    <div class=" row">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col">
                    <a asp-action="Update" asp-controller="Tour" class="btn btn-outline-primary form-control" asp-route-id="@Model.Id">Edit</a>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

